<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>로그인페이지</title>
    <link rel="stylesheet" href="../static/toylogin.css">
</head>
<body>
    <div class="wrap">
        <section class="login-form">
            <h1>Login</h1>
            <form method="POST" id="login_form">
                <div class="int-area"> <!-- 아이디입력-->
                    <input type="text" name="userid" id="id"
                           autocomplete="off" required>
                    <label for="id">USER ID</label>
                </div>
                <div class="int-area"><!-- 비밀번호입력-->
                    <input style="margin-bottom: 20px;" type="password" name="password" id="pw"
                           autocomplete="off" required>
                    <label  for="pw">PASSWORD</label>
                    <a class="register" style="color: white; margin: auto;" href="/register">회원가입</a>
                </div>
                <div class="btn-area">
                    <button type="submit" id="btn" class="btn btn-danger">로그인</button>
                </div>
            </form>
        </section>
    </div>
</body>
<script>
    let id = $('#id');
    let pw = $('#pw');
    let btn = $('#btn');

    $(btn).on('click', function() {
        if ($(id).val() == "") {
                $(id).next('label').addClass('warning');
                setTimeout(function() {
                    $('label').removeClass('warning');
                },1500);
        } else if ($(pw).val() == "") {
                $(pw).next('label').addClass('warning');
                setTimeout(function() {
                    $('label').removeClass('warning');
                },1500);
        }
    });
</script>
</html>